<a href="https://colab.research.google.com/github/valec3/Data-Analytics/blob/main/copa_mundial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
tablas = pd.read_html("https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")

In [ ]:
tablas[2] #grupo A -> MIS INDICES VARIAN EN 1 : I+1 XD

         Bidders   Votes
         Bidders Round 1     Round 2     Round 3     Round 4
0          Qatar      11          10          11          14
1  United States       3           5           6           8
2    South Korea       4           5           5  Eliminated
3          Japan       3           2  Eliminated  Eliminated
4      Australia       1  Eliminated  Eliminated  Eliminated

In [ ]:
for i in range(12,68,7):
    df = tablas[i]
    df.rename(columns={df.columns[1]:"Team"},inplace=True)
    df.pop("Qualification")
    print(df)

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1    Qatar (H)    0  0  0  0   0   0   0    0
1    2      Ecuador    0  0  0  0   0   0   0    0
2    3      Senegal    0  0  0  0   0   0   0    0
3    4  Netherlands    0  0  0  0   0   0   0    0
   Pos           Team  Pld  W  D  L  GF  GA  GD  Pts
0    1        England    0  0  0  0   0   0   0    0
1    2           Iran    0  0  0  0   0   0   0    0
2    3  United States    0  0  0  0   0   0   0    0
3    4          Wales    0  0  0  0   0   0   0    0
   Pos          Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Argentina    0  0  0  0   0   0   0    0
1    2  Saudi Arabia    0  0  0  0   0   0   0    0
2    3        Mexico    0  0  0  0   0   0   0    0
3    4        Poland    0  0  0  0   0   0   0    0
   Pos       Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     France    0  0  0  0   0   0   0    0
1    2  Australia    0  0  0  0   0   0   0    0
2    3    Denmark    0  0  0  0   0   0   0    0
3    4    Tunisia    0  0  0  0   0   0   0    0
   Pos        Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       Spain    0  0  0  0   0   0   0    0
1    2  Costa Rica    0  0  0  0   0   0   0    0
2    3     Germany    0  0  0  0   0   0   0    0
3    4       Japan    0  0  0  0   0   0   0    0
   Pos     Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Belgium    0  0  0  0   0   0   0    0
1    2   Canada    0  0  0  0   0   0   0    0
2    3  Morocco    0  0  0  0   0   0   0    0
3    4  Croatia    0  0  0  0   0   0   0    0
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1       Brazil    0  0  0  0   0   0   0    0
1    2       Serbia    0  0  0  0   0   0   0    0
2    3  Switzerland    0  0  0  0   0   0   0    0
3    4     Cameroon    0  0  0  0   0   0   0    0
   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    0  0  0  0   0   0   0    0
1    2        Ghana    0  0  0  0   0   0   0    0
2    3      Uruguay    0  0  0  0   0   0   0    0
3    4  South Korea    0  0  0  0   0   0   0    0